<header class="h-16 px-6 bg-white border-b border-gray-100 flex items-center justify-between z-50">
    <div class="flex flex-row items-center gap-2 w-96 h-8 rounded-3xl bg-gray-50 border-gray-200 px-4 py-1">
        <hugeicons-icon [icon]="searchIcon" [size]="16" [strokeWidth]="1.5" color="currentColor" class="text-gray-400 group-hover:text-blue-600 transition-colors"></hugeicons-icon>
        <p class="text-sm text-gray-400 truncate">Search academic records..</p>
    </div>
    <div class="flex flex-row items-center gap-4">
        <div class="w-10 h-10 flex items-center justify-center">
            <hugeicons-icon [icon]="bellIcon" [size]="24" [strokeWidth]="1.5" color="currentColor" class="text-gray-600 group-hover:text-blue-600 transition-colors"></hugeicons-icon>
        </div>
        <div class="w-10 h-10 flex items-center justify-center">
            <hugeicons-icon [icon]="settingIcon" [size]="24" [strokeWidth]="1.5" color="currentColor" class="text-gray-600 group-hover:text-blue-600 transition-colors"></hugeicons-icon>
        </div>
        <div class="w-4 h-8 flex items-center justify-center">
            <div class="w-px h-full bg-gray-400"></div>
        </div>
        <div class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-200">
            <hugeicons-icon [icon]="userIcon" [size]="24" [strokeWidth]="1.5" color="currentColor" class="text-gray-600 group-hover:text-blue-600 transition-colors"></hugeicons-icon>
        </div>
    </div>
</header>
